body {
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Crimson Pro', serif;
}

label {
    cursor: pointer;
}

@font-face {
    font-family: "rodchenkoctt";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/rodchenkoctt.eot");
    src: url("../assets/fonts/rodchenkoctt.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/rodchenkoctt.woff2") format("woff2"),
    url("../assets/fonts/rodchenkoctt.woff") format("woff"),
    url("../assets/fonts/rodchenkoctt.ttf") format("truetype"),
    url("../assets/fonts/rodchenkoctt.svg#rodchenkoctt") format("svg");
}

@media screen {
    div.footer {
        display: none;
    }
}

@media print {
    div.footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.5;
        display: flex;
        justify-content: space-between;
    }
}

.aos_unit {
    break-inside: avoid;
}

.aos_font {
    font-size: 14px;
    font-family: 'Crimson Pro', serif;
}

.aos_unit_move {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aos_unit_wounds {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.aos_unit_bravery {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aos_unit_save {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.aos_unit_stats {
    background-image: url('../assets/aos_stats_min.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.aos_unit_stats::after {
    padding-top: 100%;
    display: block;
    content: '';
}

.aos_light {
    background-color: #e8e3ca;
}

.aos_medium {
    background-color: #d1c89a;
}

.aos_dark {
    background-color: #8a7c32;
}

.aos_table {
    border-top: 1px solid #8a7c32;
    border-bottom: 1px solid #8a7c32;;
}

.warcry_unit {
    break-inside: avoid;
}

.warcry_font {
    font-family: "rodchenkoctt";
    font-size: 1.5em;
}

.warcry_card {
    width: 72px;
    height: 72px;
    margin-top: 3px;
    border-color: #222222;
}

.warcry_card_img {
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.warcry_card_label {
    height: 32px;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
}

.warcry_light {
    background-color: #aaaaaa;
}

#wh40k_abilities_list {
    break-inside: avoid;
    line-height: 1;
    margin-bottom: 1rem;
}

#wh40k_abilities_list > h4 {
    text-transform: capitalize;
}

#wh40k_abilities_list > div {
    margin-bottom: 0.35em;
}

.wh40k_options_div {
    font-style: italic;
    border: 1px dashed grey;
    margin-bottom: 0.5em;
}

.wh40k_options_toggle {
    cursor: pointer;
}

.wh40k_options_div.hide_options > :not(.wh40k_options_toggle) {
    display: none;
}

.wh40k_options_print_subsection {
    display: inline-block;
    margin-left: 0.75em;
}

.wh40k_option {
    margin-left: 0.75em;
    display: inline-block;
}

.wh40k_unit_sheet {
    padding: 0 10px 0 5px;
}

.wh40k_unit_sheet.bigger {
    width: 800px;
}

.wh40k_unit_sheet:not(.bigger) {
    width: 1110px;
}

.wh40k_unit_sheet > table {
    --borderColor: black;
    --notchSize: 0.8em;
    --borderSize: 1px;

    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    position: relative;
    line-height: 1;
    font: 14px sans-serif;
    break-inside: avoid;
    clip-path: polygon(
            0% var(--notchSize),
            var(--notchSize) 0%,
            calc(100% - var(--notchSize)) 0%,
            100% var(--notchSize),
            100% calc(100% - var(--notchSize)),
            calc(100% - var(--notchSize)) 100%,
            var(--notchSize) 100%,
            0% calc(100% - var(--notchSize))
    );
}

.wh40k_unit_sheet > .table > thead:not(:first-child) > :last-child > * {
    border-top-color: currentColor;
}

.wh40k_unit_sheet > .table > :not(:last-child) > :last-child > * {
    border-bottom-color: currentColor;
}

.wh40k_unit_sheet table > *:not(.keywords_row) > * > *:not(:first-child):not(:last-child) {
    text-align: center;
}

.wh40k_unit_sheet > table > thead.keywords_row > * > * {
    text-align: left;
    vertical-align: top;
}

.wh40k_unit_sheet table > * > * > td {
    padding: 0.1rem 0.25rem;
}

.wh40k_unit_sheet table > * > * > *:first-child {
    padding-left: var(--notchSize);
}

.wh40k_unit_sheet table > thead.info_row > tr > td:first-child,
.wh40k_unit_sheet table > thead.info_row.keywords_row > tr > td:nth-child(3) {
    font: bold 1em sans-serif;
    text-transform: uppercase;
    vertical-align: top;
}

.wh40k_unit_sheet table > thead.info_row > tr > td {
    box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 2%);
}

.wh40k_unit_sheet table > thead.info_row > tr > td:not(:first-child) > div > div:not(:last-child) {
    margin-bottom: 0.35em;
}

.wh40k_unit_sheet > table > thead.unit_header {
    text-align: center;
    text-transform: uppercase;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td:nth-child(2) {
    font: bold 1.5em sans-serif;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td {
    box-shadow: inset 0 0 0 9999px rgb(0 0 0);
    color: white;
}

.wh40k_unit_sheet table > thead > tr.header_row > th {
    text-transform: uppercase;
    white-space: nowrap;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_costs {
    font: bold 1.2em serif;
    white-space: nowrap;
    display: flex;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_costs > span > img {
    height: 1.4em;
    width: 1.4em;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_costs > span:not(:first-child) {
    margin-left: 0.5em;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_costs > span {
    --borderColor: white;
    --notchSize: 0.5em;
    --borderSize: 1px;
    width: 1.9em;
    height: 1.9em;
    padding: 2px;
    font-size: 0.8em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_costs > span > span {
    font-size: 0.6em;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_count,
.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_cp_costs {
    flex-direction: row-reverse;
    padding-right: calc(var(--notchSize) - 0.25rem) /* Offset td's 0.25rem padding-right. */
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_count > span::before {
    content: "Ë£" attr(data-count);
}

/* Render an octogonal border around certain elements. */
.wh40k_unit_sheet > table > * > * > * > div.unit_costs > span:after,
.wh40k_unit_sheet > table:after {
    --bothSize: calc(var(--notchSize) + var(--borderSize) / 2);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--borderColor);

    clip-path: polygon(
            0% var(--notchSize),
            var(--notchSize) 0%,
            calc(100% - var(--notchSize)) 0%,
            100% var(--notchSize),
            100% calc(100% - var(--notchSize)),
            calc(100% - var(--notchSize)) 100%,
            var(--notchSize) 100%,
            0% calc(100% - var(--notchSize)),
            0% var(--notchSize),
            var(--borderSize) var(--bothSize),
            var(--borderSize) calc(100% - var(--bothSize)),
            var(--bothSize) calc(100% - var(--borderSize)),
            calc(100% - var(--bothSize)) calc(100% - var(--borderSize)),
            calc(100% - var(--borderSize)) calc(100% - var(--bothSize)),
            calc(100% - var(--borderSize)) var(--bothSize),
            calc(100% - var(--bothSize)) var(--borderSize),
            var(--bothSize) var(--borderSize),
            var(--borderSize) var(--bothSize)
    );
}

.wh40k_unit_sheet > table > * > * > td.subTableTd {
    padding: 0;
    vertical-align: top;
    border-right: 1px solid black;
}

.wh40k_unit_sheet > table > * > * > td.subTableTd > div {
    display: flex;
    align-items: flex-start;
    margin-top: -1px; /* not sure why this is necessary */
}

body.single_column .wh40k_unit_sheet > table > * > * > td.subTableTd > div {
    flex-direction: column;
}


.wh40k_unit_sheet > table > * > * > td.subTableTd > div > table {
    margin-bottom: 0;
}

body:not(.single_column) .wh40k_unit_sheet > table > * > * > td.subTableTd > div > table:first-child {
    border-right: 1px solid black;
    width: 60%;
}

body.single_column .wh40k_unit_sheet > table > * > * > td.subTableTd > div > table:last-child {
    border-top: 1px solid black;
}

body:not(.single_column) .wh40k_unit_sheet > table > * > * > td.subTableTd > div > table:last-child {
    border-left: 1px solid black;
    margin-left: -1px; /* counter overlap between left and right columns' shared border */
    width: 40%;
}

.wh40k_rules > div > p {
    white-space: pre-wrap;
    line-height: 1;
}

/* MESBG Start */
.mesbg_container {
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
}
@media print {
    .mesbg_container {
        font-size: 14px;
    }
}
.mesbg_container  * {
    margin: 0;
    padding: 0;
}
.mesbg_rosterName {
    font-size: 1.5em;
    font-weight: lighter;
}
.mesbg_rosterInfo {
    font-size: 16px;
}
.mesbg_h1 {
    font-size: 2rem;
    line-height: 1;
}
.mesbg_h2 {
    font-size: 1.5em;
}
.mesbg_h3 {
    font-size: 1.25em;
}
.mesbg_h4 {
    font-size: 1.125em;
}
.mesbg_equipmentList {
    font-size: 1em;
}
.mesbg_profileTable {
    border: 1px solid #333;
    border-collapse: collapse;
}
.mesbg_profileTable tr th {
    width: 2em;
    padding: 4px 8px;
    text-align: center;
    font-size: 1.25em;
    background-color: #ccc;
}
.mesbg_trackerTable tr td {
    padding: 32px;
}
.mesbg_trackerTable tr th {
    text-align: center;
}
.mesbg_profileTable tr td {
    width: 2em;
    padding: 4px 8px;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
}
.mesbg_powerTable tr th {
    text-align: left;
    padding: 4px 16px 4px 0px;
}
.mesbg_list {
    margin-left: 1em;
}
.mesbg_cardWargear {
    font-size: 1.25;
    font-weight: bold;
}
.mesbg_noBreak {
    break-inside: avoid;
}
.mesbg_pageBreak {
    break-before: page;
}
.mesbg_diceBlock {
    width: 1in;
    height: 1in;
    border-radius: 0.125in;
    border: 1px solid #333;
}
.mesbg_flexGrid {
    display: flex;
    flex-wrap: wrap;
}
.mesbg_flexGrid > * {
    width: calc(50% - 16px);
    margin-right: 16px;
}
.mesbg_flexGrid > *:last-child {
    margin-right: 0px;
}
/*
.mesbg_flex > *  {
    display: inline-block;
}
*/
.mesbg_flex  {
 display: flex;
    align-items: center;
}
.mesbg_flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mesbg_card {
    border: 1px solid #333;
    padding: 16px;
    margin-bottom: 16px;
    break-inside: avoid;
}
.mesbg_toggleHolder {
    border: 1px dashed #333;
    padding: 16px;
    margin-bottom: 16px;
    break-inside: avoid;
}
.mesbg_toggleHolder > * {
    margin-left: 16px;
}
.mesbg_bumpDown {
    margin-bottom: 2em;
}
.mesbg_twoColumn {
    column-count: 2;
    column-gap: 24px;
}
.mesbg_twoColumnGrid {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}
.mesbg_woundChart {
    border-collapse: collapse;
}
.mesbg_woundChart td,
.mesbg_woundChart th {
    border: 1px solid #666;
    font-size: 18px;
    width: 4em;
    height: 4em;
    text-align: center;
}
.mesbg_woundChart tbody tr:nth-child(odd) {
    background-color: #fafafa;
}
.mesbg_woundChart th {
    background-color: #efefef;
}
.mesbg_woundChart th.mesbg_toWoundHeader {
    background-color: transparent;
    border: none;
}
@media screen and (max-width: 800px) {
    .mesbg_twoColumn {
        column-count: 1;
        column-gap: 0px;
    }
}
.mesbg_hideMe {
    display: none;
}
@media print {
    .mesbg_noPrint {
        display: none;
    }
}
/* MESBG End */

.hh2-rule-link {
    color: black;
}

.hide_enabled .hide_able:hover {
    background-color: rgba(128, 128, 128, .4);
    cursor: cell;
    top: 0;
}

.hide_enabled .hidden {
    text-decoration: line-through;
}

@media print {
    .hide_enabled .hidden {
        display: none;
    }
    a, a:visited { color: black; text-decoration: none; }
}

.page_break {
    break-before: page;
}

.draggable {
    cursor: grab;
}

.draggable_drop_target_top {
    border-top: 2px solid green;
}
