body {
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Crimson Pro', serif;
}

label {
  cursor: pointer;
}

@font-face {
    font-family: "rodchenkoctt";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/rodchenkoctt.eot");
    src: url("../assets/fonts/rodchenkoctt.eot?#iefix") format("embedded-opentype"),
         url("../assets/fonts/rodchenkoctt.woff2") format("woff2"),
         url("../assets/fonts/rodchenkoctt.woff") format("woff"),
         url("../assets/fonts/rodchenkoctt.ttf") format("truetype"),
         url("../assets/fonts/rodchenkoctt.svg#rodchenkoctt") format("svg");
}

@media screen {
  div.footer {
    display: none;
  }
}
@media print {
  div.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
  }
}

.aos_unit {
    break-inside: avoid;
}

.aos_font {
    font-size: 14px;
    font-family: 'Crimson Pro', serif;
}

.aos_unit_move {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aos_unit_wounds {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.aos_unit_bravery {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aos_unit_save {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.aos_unit_stats {
    background-image: url('../assets/aos_stats_min.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0, auto;
}

.aos_unit_stats::after {
    padding-top: 100%;
    display: block;
    content: '';
}

.aos_light {
    background-color: #e8e3ca;
}

.aos_medium {
    background-color: #d1c89a;
}

.aos_dark {
    background-color: #8a7c32;
}

.aos_table {
    border-top: 1px solid #8a7c32;
    border-bottom: 1px solid #8a7c32;;
}

.warcry_unit {
    break-inside: avoid;
}

.warcry_font {
    font-family: "rodchenkoctt";
    font-size: 1.5em;
}

.warcry_card {
    width: 72px;
    height: 72px;
    margin-top: 3px;
    border-color: #222222;
}

.warcry_card_img {
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.warcry_card_label {
    height: 32px;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
}

.warcry_light {
    background-color: #aaaaaa;
}

#wh40k_abilities_list {
  break-inside: avoid;
  line-height: 1;
  margin-bottom: 1rem;
}

#wh40k_abilities_list > h4 {
  text-transform: capitalize;
}

#wh40k_abilities_list > div {
  margin-bottom: 0.35em;
}

.wh40k_options_div {
  font-style: italic;
  border: 1px dashed grey;
  margin-bottom:0.5em;
}

.wh40k_unit_sheet {
    padding: 0 10px 0 5px;
}

.wh40k_unit_sheet.bigger {
    width: 800px;
}

.wh40k_unit_sheet:not(.bigger) {
    width: 1110px;
}

.wh40k_unit_sheet > table {
    --borderColor: black;
    --notchSize: 0.8em;
    --borderSize: 1px;

    -webkit-print-color-adjust: exact;
    position: relative;
    line-height: 1;
    font: 14px sans-serif;
    break-inside: avoid;
    clip-path:
        polygon(
            0% var(--notchSize),
            var(--notchSize) 0%,
            calc(100% - var(--notchSize)) 0%,
            100% var(--notchSize),
            100% calc(100% - var(--notchSize)),
            calc(100% - var(--notchSize)) 100%,
            var(--notchSize) 100%,
            0% calc(100% - var(--notchSize))
        );
}

.wh40k_unit_sheet > .table>thead:not(:first-child)>:last-child>* {
    border-top-color: currentColor;
}

.wh40k_unit_sheet > .table>:not(:last-child)>:last-child>* {
    border-bottom-color: currentColor;
}

.wh40k_unit_sheet > table > * > * > *:not(:first-child):not(:last-child) {
    text-align: center;
}

.wh40k_unit_sheet > table > * > * > td {
    padding: 0.1rem 0.25rem;
}

.wh40k_unit_sheet > table > * > * > *:first-child {
    padding-left: var(--notchSize);
}

.wh40k_unit_sheet > table > thead.header_row {
    text-transform: uppercase
}

.wh40k_unit_sheet > table > thead.info_row > tr > td:first-child {
    font: bold 1em sans-serif;
    text-transform: uppercase;
    vertical-align: top;
}

.wh40k_unit_sheet > table > thead.info_row > tr > td {
    box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 2%);
}

.wh40k_unit_sheet > table > thead.info_row > tr > td:not(:first-child) > div > div:not(:last-child) {
    margin-bottom: 0.35em;
}

.wh40k_unit_sheet > table > thead.unit_header {
    text-align: center;
    text-transform: uppercase
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td:nth-child(2) {
    font: bold 1.5em sans-serif;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td {
    box-shadow: inset 0 0 0 9999px rgb(0 0 0);
    color: white;
}

.wh40k_unit_sheet > table > thead.header_row > tr > th {
    white-space: nowrap;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_costs {
    font: bold 1.2em serif;
    white-space: nowrap;
    display: flex;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_costs > span > img {
    height: 1.4em;
    width: 1.4em;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_costs > span:not(:first-child) {
    margin-left: 0.5em;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_costs > span {
    --borderColor: white;
    --notchSize: 0.5em;
    --borderSize: 1px;
    width: 1.9em;
    height: 1.9em;
    padding: 2px;
    font-size: 0.8em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_costs > span > span {
  font-size: 0.6em;
}

.wh40k_unit_sheet > table > thead.unit_header > tr > td > div.unit_cp_costs {
  flex-direction: row-reverse;
  padding-right: calc(var(--notchSize) - 0.25rem) /* Offset td's 0.25rem padding-right. */
}

/* Render an octogonal border around certain elements. */
.wh40k_unit_sheet > table > * > * > * > div.unit_costs > span:after,
.wh40k_unit_sheet > table:after {
    --bothSize: calc(var(--notchSize) + var(--borderSize)/2);
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: var(--borderColor);

    clip-path:
        polygon(
            0% var(--notchSize),
            var(--notchSize) 0%,
            calc(100% - var(--notchSize)) 0%,
            100% var(--notchSize),
            100% calc(100% - var(--notchSize)),
            calc(100% - var(--notchSize)) 100%,
            var(--notchSize) 100%,
            0% calc(100% - var(--notchSize)),
            0% var(--notchSize),

            var(--borderSize) var(--bothSize),
            var(--borderSize) calc(100% - var(--bothSize)),
            var(--bothSize) calc(100% - var(--borderSize)),
            calc(100% - var(--bothSize)) calc(100% - var(--borderSize)),
            calc(100% - var(--borderSize)) calc(100% - var(--bothSize)),
            calc(100% - var(--borderSize)) var(--bothSize),
            calc(100% - var(--bothSize)) var(--borderSize),
            var(--bothSize) var(--borderSize),
            var(--borderSize) var(--bothSize)
        );
}

.wh40k_rules > div > p {
  white-space: pre-wrap;
  line-height: 1;
}
