body {
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Crimson Pro', serif;
    break-after: avoid;
}

@font-face {
    font-family: "rodchenkoctt";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/rodchenkoctt.eot");
    src: url("../assets/fonts/rodchenkoctt.eot?#iefix") format("embedded-opentype"),
         url("../assets/fonts/rodchenkoctt.woff2") format("woff2"),
         url("../assets/fonts/rodchenkoctt.woff") format("woff"),
         url("../assets/fonts/rodchenkoctt.ttf") format("truetype"),
         url("../assets/fonts/rodchenkoctt.svg#rodchenkoctt") format("svg");         
}

.aos_font {
    font-size: 14px;
    font-family: 'Crimson Pro', serif;
}

.aos_unit_move {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aos_unit_wounds {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.aos_unit_bravery {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aos_unit_save {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.aos_unit_stats {
    background-image: url('../assets/aos_stats_min.svg'); 
    background-repeat: no-repeat; 
    background-size: contain;
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0, auto;
}

.aos_unit_stats::after {
    padding-top: 100%;
    display: block;
    content: '';
}

.aos_light {
    background-color: #e8e3ca;
}

.aos_medium {
    background-color: #d1c89a;
}

.aos_dark {
    background-color: #8a7c32;
}

.aos_table {
    border-top: 1px solid #8a7c32;
    border-bottom: 1px solid #8a7c32;;
}

.warcry_font {
    font-family: "rodchenkoctt";
    font-size: 1.5em;
}

.warcry_card {
    width: 72px;
    height: 72px;
    margin-top: 3px;
    border-color: #222222;
}

.warcry_card_img {
    height: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.warcry_card_label {
    height: 32px;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
}
